/*pod hlavou jsou 2 bloky vlevo užší výčet, cca 1/3, vlevo náplň, cca 2/3
1) živě, tvorba
    v náplni jeden nadpis daného počinu a pod ním obsah se záložkami

2) novinky, živě, tvorba, o KT, ke stažení, kontakt
    v náplni více nadpisů bez obsahu 
    většina stránek
*/
#napln {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 567px;

	}

#vykryt {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 10;
	width: 601px;
	height: 25px;
	margin-left: -150px;
/*	border:thin #cab solid;*/
}

.nadpisy {
	width: 601px;
	height: 50px;
	line-height: 60px;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px #000 none;
}
.nadpisy .datum, .nadpisy p {
	display: inline;
	font-size: .75em;
}
.napln, .napln1 {
	font-size: .75em;
	width: 575px;
	min-height: 5em;
	padding: 1em;
	border-width: 1px;
	border-style: solid;
	border-top: none;
}
.napln {
	border-bottom: none;
}
#vycet-obal {
	width: 256px;
min-height: 35em;
}
#vycet-vrch {
	position: fixed;
	top: 60px;
	left: 50%;
	width: 256px;
	height: 25px;
	margin-left: -419px;
	/*border-top: 1px #000 solid;*/
}   
#vycet {
font-size: .75em;
	position: relative;
	top: 25px;
	left: 31px;
	min-height: 75em;
	padding: 1em;
	padding-top: 0;
	border-width: 1px;
  border-style: solid;
	border-top: none;
}
#vycet li{
display: block;
margin-bottom: 1.5em;
}
#vycet a{
font-weight: bold;
}
.rubrika{
display: inline;
font-style: italic;
}
